---
title: Leslie Cohn-Wein | Front End Engineer
desc: Front end awesomeness in NYC
router: Home
---

header.header.js-fit-to-window
  h1 Leslie Cohn-Wein

main.portfolio-grid
  h2 Content goes here
/ .welcome
/   h1 Middleman is Watching
/   p.doc
/     a href='http://middlemanapp.com/' Read Online Documentation
